.index-page .clients__title, .index-page .team__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.index-page .team__card-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.index-page .portfolio-page .footer__mailing-btn, .portfolio-page .index-page .footer__mailing-btn, .index-page .portfolio-page .btns__btn:hover, .portfolio-page .index-page .btns__btn:hover, .index-page .footer__mailing-btn, .index-page .modal__btn, .index-page .hero__btn {
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
}
.index-page .page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  height: 80px;
}
.index-page .logo {
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
}
.index-page .logo__label {
  color: #2196F3;
}
.index-page .nav__list {
  display: none;
}
.index-page .info {
  display: none;
}
.index-page .menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 100;
  padding: 10px 15px 10px 25px;
  overflow-y: auto;
  gap: 60px;
}
.index-page .menu-overlay.active {
  transform: translateX(0);
}
.index-page .hamburger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.index-page .menu__list {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 0;
  padding: 0;
  margin: 0;
}
.index-page .menu__link {
  font-weight: 500;
  font-size: 40px;
  color: #212121;
}
.index-page .menu__link:hover {
  color: #2196F3;
}
.index-page .menu__info {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 0;
}
.index-page .menu__tel {
  font-weight: 500;
  font-size: 34px;
  color: #2196F3;
  margin: 0;
  -webkit-text-fill-color: #2196F3;
}
.index-page .menu__email {
  font-weight: 500;
  font-size: 24px;
  color: #757575;
  margin: 0;
}
.index-page .menu__socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-top: 60px;
}
.index-page .menu__socials-item {
  position: relative;
}
.index-page .menu__socials-item::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 11px;
  position: absolute;
}
.index-page .menu__socials-item:last-child::after {
  content: none;
}
.index-page .menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  color: #2196F3;
}
.index-page .menu__btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
}
.index-page .menu__btn:hover {
  fill: #2196F3;
}
.index-page .menu__active {
  color: #2196F3;
}
@media (min-width: 768px) {
  .index-page .hamburger-btn {
    display: none;
  }
  .index-page .nav__list {
    display: flex;
    gap: 55px;
    padding-left: 0;
  }
  .index-page .nav__link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    transition-duration: 1.5s;
  }
  .index-page .nav__link::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    border-radius: 2px;
    display: flex;
    transform: translateY(0);
    transition-duration: 1s;
    opacity: 0;
  }
  .index-page .nav__link:hover::after {
    transform: translateY(27px);
    z-index: 1;
    opacity: 1;
  }
  .index-page .nav__link:hover {
    color: #2196F3;
  }
  .index-page .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .index-page .info__svg {
    fill: #757575;
  }
  .index-page .info__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .index-page .info__item:hover .info__svg {
    fill: #2196F3;
  }
  .index-page .info__item:hover p {
    color: #2196F3;
  }
  .index-page .info__email {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
  }
  .index-page .info__tel {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    -webkit-text-fill-color: #757575;
  }
}
@media (min-width: 1024px) {
  .index-page .info {
    flex-direction: row;
    gap: 30px;
  }
}
.index-page .clients__title, .index-page .team__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.index-page .team__card-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.index-page .portfolio-page .footer__mailing-btn, .portfolio-page .index-page .footer__mailing-btn, .index-page .portfolio-page .btns__btn:hover, .portfolio-page .index-page .btns__btn:hover, .index-page .footer__mailing-btn, .index-page .modal__btn, .index-page .hero__btn {
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
}
.index-page .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.index-page .hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  max-width: 360px;
  text-align: center;
}
.index-page .hero__btn {
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1490196078);
  font-weight: 700;
}
.index-page .back-drop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.index-page .back-drop:not(.is-hidden) .modal {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.index-page .back-drop .modal.show {
  opacity: 1;
  transform: translateY();
}
.index-page .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.index-page .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50vh);
  max-width: 450px;
  width: 95%;
  height: 609px;
  background-color: white;
  transform: translate(-50%, 100%);
  transition: all ease-in-out 0.5s;
  padding: 5px;
}
.index-page .modal__close {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.index-page .modal__close:hover {
  fill: #2196F3;
}
.index-page .modal__title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  max-width: 370px;
}
.index-page .modal__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.index-page .modal__btn {
  width: 200px;
  height: 50px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.index-page .modal__content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.index-page .modal__text {
  text-align: center;
  font-size: 14px;
  color: #757575;
  margin: 0;
}
.index-page .modal__text-wrapper {
  color: #2196F3;
  border-bottom: solid 1px #2196F3;
}
.index-page .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.index-page .form__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}
.index-page .form__label {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
}
.index-page .form__input {
  max-width: 370px;
  height: 40px;
  width: 85vw;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  padding-left: 40px;
}
.index-page .form__input-comment {
  max-width: 370px;
  height: 120px;
  width: 85vw;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  font-size: 12px;
  font-weight: 400;
  color: #757575;
  padding: 16px 13px;
}
.index-page .form__svg {
  position: absolute;
  top: 32px;
  left: 11px;
}
.index-page .form__input:focus {
  outline: 1px solid #2196F3;
}
.index-page .form__input-comment:focus {
  outline: 1px solid #2196F3;
}
.index-page .form__item:focus-within svg {
  fill: #2196F3;
}
.index-page .about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  align-items: baseline;
  justify-content: center;
  margin-top: 60px;
}
.index-page .about__item:nth-child(1)::before {
  content: url(../img/antenna.png);
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.index-page .about__item:nth-child(2)::before {
  content: url(../img/clock.png);
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.index-page .about__item:nth-child(3)::before {
  content: url(../img/diagram.png);
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.index-page .about__item:nth-child(4)::before {
  content: url(../img/astronaut.png);
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.index-page .about__title {
  color: #212121;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.index-page .about__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  display: block;
  max-width: 450px;
}
.index-page .activities {
  display: none;
}
.index-page .team {
  background-color: #F5F4FA;
  padding-bottom: 60px;
  padding-top: 66px;
  margin-top: 60px;
}
.index-page .team__img {
  width: 100%;
  height: auto;
  margin-bottom: 33px;
}
.index-page .team__card {
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.index-page .team__card-title {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  text-align: center;
  margin-top: 0;
}
.index-page .team__card-subtitle {
  color: #757575;
  text-align: center;
  margin-bottom: 35px;
}
.index-page .team__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.index-page .team__social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}
.index-page .team__svg-wrapper {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.index-page .team__svg-wrapper:hover {
  background-color: #2196F3;
}
.index-page .team__svg-wrapper:hover .team__svg {
  fill: #FFFFFF;
}
.index-page .team__svg-wrapper:hover::after {
  content: "";
  width: 100px;
  height: 20px;
  background: #2196F3;
  background: linear-gradient(0deg, rgba(33, 150, 243, 0) 0%, rgb(135, 195, 255) 50%, rgba(33, 150, 243, 0) 100%);
  position: absolute;
  animation-name: shine;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  right: 40px;
}
.index-page .team__svg {
  fill: #AFB1B8;
  position: relative;
  z-index: 2;
}
@keyframes shine {
  0% {
    transform: translateX(0) rotate(-40deg);
  }
  100% {
    transform: translateX(100px) rotate(-40deg);
  }
}
.index-page .clients__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 0px;
  margin-bottom: 94px;
}
.index-page .clients__item {
  width: 100%;
  min-height: 92px;
  height: auto;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-page .clients__item:hover {
  border: 1px solid #2196F3;
}
.index-page .clients__item:hover .clients__svg {
  fill: #2196F3;
  transform: scale(1.2);
}
.index-page .clients__svg {
  fill: #AFB1B8;
  transition: 0.5s;
}
@media (max-width: 420px) {
  .index-page .modal__content {
    flex-direction: column-reverse;
  }
  .index-page .modal__btn-wrapper {
    margin-top: 10px;
  }
}
@media (min-width: 576px) {
  .index-page .clients__list {
    display: grid;
    grid-template-columns: 210px 210px;
  }
  .index-page .clients__item {
    width: 100%;
  }
  .index-page .about {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
  .index-page .about__item::before {
    width: 100%;
  }
  .index-page .about__text {
    max-width: 354px;
  }
  .index-page .team__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .index-page .clients__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .index-page .hero {
    height: 400px;
    background-position: 50% 40%;
  }
  .index-page .clients__list {
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .index-page .hero {
    height: 600px;
    background-position: 50% 40%;
  }
  .index-page .modal {
    min-width: 528px;
    min-height: 581px;
  }
  .index-page .modal__title {
    max-width: none;
  }
  .index-page .modal__content {
    margin-top: 25px;
  }
  .index-page .form__input {
    min-width: 448px;
  }
  .index-page .form__input-comment {
    min-width: 448px;
  }
  .index-page .content {
    margin-top: 25px;
  }
  .index-page .about {
    align-items: baseline;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .index-page .about__item {
    width: 100%;
    height: auto;
  }
  .index-page .about__item::before {
    width: 100%;
  }
  .index-page .about__text {
    max-width: 270px;
    text-align: start;
  }
  .index-page .about__title {
    text-align: start;
  }
  .index-page .activities {
    display: block;
    margin-top: 100px;
  }
  .index-page .activities__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
  }
  .index-page .activities__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
  }
  .index-page .activities__img {
    width: 100%;
    height: auto;
  }
  .index-page .activities__item {
    position: relative;
  }
  .index-page .activities__text {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-top: 0;
    bottom: -10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
  }
  .index-page .team__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .index-page .clients__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1200px) {
  .index-page .about {
    grid-template-columns: repeat(4, 270px);
  }
  .index-page .team__cards {
    grid-template-columns: repeat(4, 270px);
  }
}
.index-page .team__title, .index-page .clients__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.index-page .team__card-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.index-page .portfolio-page .footer__mailing-btn, .portfolio-page .index-page .footer__mailing-btn, .index-page .portfolio-page .btns__btn:hover, .portfolio-page .index-page .btns__btn:hover, .index-page .footer__mailing-btn, .index-page .hero__btn, .index-page .modal__btn {
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
}
.index-page .footer {
  background-color: #2F303A;
  padding-top: 64px;
  padding-bottom: 60px;
}
.index-page .footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 63px;
}
.index-page .footer__logo {
  color: #FFFFFF;
  margin-bottom: 19px;
}
.index-page .footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index-page .footer__address {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.index-page .footer__email {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}
.index-page .footer__tel {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.index-page .footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.index-page .footer__socials-title {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0;
}
.index-page .footer__socials-content {
  display: flex;
  gap: 10px;
}
.index-page .footer__socials-svg {
  fill: #FFFFFF;
  z-index: 2;
}
.index-page .footer__socials-item {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.index-page .footer__socials-item:hover {
  background-color: #2196F3;
}
.index-page .footer__socials-item:hover .team__svg {
  fill: #FFFFFF;
}
.index-page .footer__socials-item:hover::after {
  content: "";
  width: 100px;
  height: 20px;
  background: #2196F3;
  background: linear-gradient(0deg, rgba(33, 150, 243, 0) 0%, rgb(135, 195, 255) 50%, rgba(33, 150, 243, 0) 100%);
  position: absolute;
  transform: rotate(-40deg);
  animation-name: line;
  z-index: 0;
  transition-duration: 1s;
  position: absolute;
  animation-name: shine;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  right: 40px;
}
.index-page .footer__mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.index-page .footer__mailing-title {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0;
}
.index-page .footer__mailing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.index-page .footer__mailing-input {
  max-width: 450px;
  width: 95vw;
  height: 50px;
  display: flex;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.index-page .footer__mailing-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.index-page .footer__mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.index-page .footer__mailing-btn {
  width: 200px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
@keyframes shine {
  0% {
    transform: translateX(0) rotate(-40deg);
  }
  100% {
    transform: translateX(100px) rotate(-40deg);
  }
}
@media (min-width: 567px) {
  .index-page .footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 178px;
         column-gap: 178px;
    align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .index-page .footer__wrapper {
    flex-wrap: nowrap;
    gap: 93px;
  }
  .index-page .footer__info {
    align-items: start;
  }
  .index-page .footer__socials {
    align-items: start;
  }
  .index-page .footer__mailing {
    align-items: start;
  }
  .index-page .footer__mailing-content {
    flex-direction: row;
    gap: 20px;
  }
  .index-page .footer__mailing-input {
    max-width: 358px;
  }
}

.portfolio-page .index-page .team__title, .index-page .portfolio-page .team__title, .portfolio-page .index-page .clients__title, .index-page .portfolio-page .clients__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.portfolio-page .index-page .team__card-subtitle, .index-page .portfolio-page .team__card-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.portfolio-page .footer__mailing-btn, .portfolio-page .btns__btn:hover, .portfolio-page .index-page .hero__btn, .index-page .portfolio-page .hero__btn, .portfolio-page .index-page .modal__btn, .index-page .portfolio-page .modal__btn, .portfolio-page .index-page .footer__mailing-btn, .index-page .portfolio-page .footer__mailing-btn {
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
}
.portfolio-page .header-wrapper {
  border-bottom: 1px solid #ECECEC;
}
.portfolio-page .page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  height: 80px;
}
.portfolio-page .logo {
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
}
.portfolio-page .logo__label {
  color: #2196F3;
}
.portfolio-page .nav__list {
  display: none;
}
.portfolio-page .info {
  display: none;
}
.portfolio-page .menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 100;
  padding: 10px 15px 10px 25px;
  overflow-y: auto;
  gap: 60px;
}
.portfolio-page .menu-overlay.active {
  transform: translateX(0);
}
.portfolio-page .hamburger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.portfolio-page .menu__list {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 0;
  padding: 0;
  margin: 0;
}
.portfolio-page .menu__link {
  font-weight: 500;
  font-size: 40px;
  color: #212121;
}
.portfolio-page .menu__link:hover {
  color: #2196F3;
}
.portfolio-page .menu__info {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 0;
}
.portfolio-page .menu__tel {
  font-weight: 500;
  font-size: 34px;
  color: #2196F3;
  margin: 0;
  -webkit-text-fill-color: #2196F3;
}
.portfolio-page .menu__email {
  font-weight: 500;
  font-size: 24px;
  color: #757575;
  margin: 0;
}
.portfolio-page .menu__socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-top: 60px;
}
.portfolio-page .menu__socials-item {
  position: relative;
}
.portfolio-page .menu__socials-item::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 11px;
  position: absolute;
}
.portfolio-page .menu__socials-item:last-child::after {
  content: none;
}
.portfolio-page .menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  color: #2196F3;
}
.portfolio-page .menu__btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
}
.portfolio-page .menu__btn:hover {
  fill: #2196F3;
}
.portfolio-page .menu__active {
  color: #2196F3;
}
@media (min-width: 768px) {
  .portfolio-page .hamburger-btn {
    display: none;
  }
  .portfolio-page .nav__list {
    display: flex;
    gap: 55px;
    padding-left: 0;
  }
  .portfolio-page .nav__link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    transition-duration: 1.5s;
  }
  .portfolio-page .nav__link::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    border-radius: 2px;
    display: flex;
    transform: translateY(0);
    transition-duration: 1s;
    opacity: 0;
  }
  .portfolio-page .nav__link:hover::after {
    transform: translateY(27px);
    z-index: 1;
    opacity: 1;
  }
  .portfolio-page .nav__link:hover {
    color: #2196F3;
  }
  .portfolio-page .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .portfolio-page .info__svg {
    fill: #757575;
  }
  .portfolio-page .info__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .portfolio-page .info__item:hover .info__svg {
    fill: #2196F3;
  }
  .portfolio-page .info__item:hover p {
    color: #2196F3;
  }
  .portfolio-page .info__email {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
  }
  .portfolio-page .info__tel {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    -webkit-text-fill-color: #757575;
  }
}
@media (min-width: 1024px) {
  .portfolio-page .info {
    flex-direction: row;
    gap: 30px;
  }
}
.portfolio-page .index-page .team__title, .index-page .portfolio-page .team__title, .portfolio-page .index-page .clients__title, .index-page .portfolio-page .clients__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.portfolio-page .index-page .team__card-subtitle, .index-page .portfolio-page .team__card-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.portfolio-page .footer__mailing-btn, .portfolio-page .btns__btn:hover, .portfolio-page .index-page .hero__btn, .index-page .portfolio-page .hero__btn, .portfolio-page .index-page .modal__btn, .index-page .portfolio-page .modal__btn, .portfolio-page .index-page .footer__mailing-btn, .index-page .portfolio-page .footer__mailing-btn {
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
}
.portfolio-page .btns {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.portfolio-page .btns__btn {
  height: 38px;
  border: none;
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  transition-duration: 0.5s;
}
.portfolio-page .btns__btn:nth-child(1) {
  width: 73px;
}
.portfolio-page .btns__btn:nth-child(2) {
  width: 125px;
}
.portfolio-page .btns__btn:nth-child(3) {
  width: 112px;
}
.portfolio-page .btns__btn:nth-child(4) {
  width: 103px;
}
.portfolio-page .btns__btn:nth-child(5) {
  width: 130px;
}
.portfolio-page .grids {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 34px;
  margin-bottom: 94px;
}
.portfolio-page .grids__item {
  border: 1px solid #EEEEEE;
  max-width: 575px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-page .grids__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}
.portfolio-page .grids__item:hover .grids__wrapper-text {
  transform: translateY(-100%);
}
.portfolio-page .grids__img img {
  width: 100%;
  height: auto;
}
.portfolio-page .grids__title {
  padding-left: 23px;
  color: #212121;
  font-weight: 700;
}
.portfolio-page .grids__subtitle {
  padding-left: 23px;
  font-size: 16px;
  color: #757575;
  font-weight: 400;
  margin-bottom: 30px;
}
.portfolio-page .grids__overlay {
  overflow: hidden;
  position: relative;
}
.portfolio-page .grids__wrapper-text {
  transform: translateY(0);
  transition-duration: 0.5s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 10px;
}
.portfolio-page .grids__overlay-text {
  text-align: start;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 402px;
  padding: 10px;
  line-height: 28px;
}
@media (min-width: 605px) {
  .portfolio-page .btns {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .portfolio-page .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-page .grids__overlay-text {
    max-width: 306px;
  }
  .portfolio-page .grids__overlay-text {
    position: relative;
    bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .portfolio-page .grids {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-page .grids__item {
    max-height: 404px;
  }
  .portfolio-page .grids__text {
    margin-bottom: 0;
  }
  .portfolio-page .grids__overlay-text {
    max-width: 322px;
    position: static;
  }
}
.portfolio-page .index-page .team__title, .index-page .portfolio-page .team__title, .portfolio-page .index-page .clients__title, .index-page .portfolio-page .clients__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.portfolio-page .index-page .team__card-subtitle, .index-page .portfolio-page .team__card-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.portfolio-page .footer__mailing-btn, .portfolio-page .index-page .hero__btn, .index-page .portfolio-page .hero__btn, .portfolio-page .index-page .modal__btn, .index-page .portfolio-page .modal__btn, .portfolio-page .index-page .footer__mailing-btn, .index-page .portfolio-page .footer__mailing-btn, .portfolio-page .btns__btn:hover {
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
}
.portfolio-page .footer {
  background-color: #2F303A;
  padding-top: 64px;
  padding-bottom: 60px;
}
.portfolio-page .footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 63px;
}
.portfolio-page .footer__logo {
  color: #FFFFFF;
  margin-bottom: 19px;
}
.portfolio-page .footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-page .footer__address {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.portfolio-page .footer__email {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}
.portfolio-page .footer__tel {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-page .footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.portfolio-page .footer__socials-title {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0;
}
.portfolio-page .footer__socials-content {
  display: flex;
  gap: 10px;
}
.portfolio-page .footer__socials-svg {
  fill: #FFFFFF;
  z-index: 2;
}
.portfolio-page .footer__socials-item {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.portfolio-page .footer__socials-item:hover {
  background-color: #2196F3;
}
.portfolio-page .footer__socials-item:hover .team__svg {
  fill: #FFFFFF;
}
.portfolio-page .footer__socials-item:hover::after {
  content: "";
  width: 100px;
  height: 20px;
  background: #2196F3;
  background: linear-gradient(0deg, rgba(33, 150, 243, 0) 0%, rgb(135, 195, 255) 50%, rgba(33, 150, 243, 0) 100%);
  position: absolute;
  transform: rotate(-40deg);
  animation-name: line;
  z-index: 0;
  transition-duration: 1s;
  position: absolute;
  animation-name: shine;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  right: 40px;
}
.portfolio-page .footer__mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.portfolio-page .footer__mailing-title {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0;
}
.portfolio-page .footer__mailing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.portfolio-page .footer__mailing-input {
  max-width: 450px;
  width: 95vw;
  height: 50px;
  display: flex;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.portfolio-page .footer__mailing-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.portfolio-page .footer__mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.portfolio-page .footer__mailing-btn {
  width: 200px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
@keyframes shine {
  0% {
    transform: translateX(0) rotate(-40deg);
  }
  100% {
    transform: translateX(100px) rotate(-40deg);
  }
}
@media (min-width: 567px) {
  .portfolio-page .footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 178px;
         column-gap: 178px;
    align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .portfolio-page .footer__wrapper {
    flex-wrap: nowrap;
    gap: 93px;
  }
  .portfolio-page .footer__info {
    align-items: start;
  }
  .portfolio-page .footer__socials {
    align-items: start;
  }
  .portfolio-page .footer__mailing {
    align-items: start;
  }
  .portfolio-page .footer__mailing-content {
    flex-direction: row;
    gap: 20px;
  }
  .portfolio-page .footer__mailing-input {
    max-width: 358px;
  }
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}
body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */