
.index-page{
@import "./components/studio.scss/header";
@import "./components/studio.scss/main";
@import "./components/studio.scss/footer";
}

.portfolio-page{
@import "./components/portfolio.scss/header";
@import "./components/portfolio.scss/main";
@import "./components/portfolio.scss/footer";
}

.container{
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}
@media (min-width:768px) {
    .container{
        max-width: 1024px;
    }
}
@media (min-width:1024px) {
    .container{
        max-width: 1200px;
    }
}

body{
    font-family: Roboto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}