@import "../utils/variables";
@import "../utils/placeholders";
@import "../utils/mixin";

.header-wrapper{
    border-bottom: 1px solid #ECECEC;
}
.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    height: 80px;
}
.logo{
    color: $secondary-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    &__label{
        color: $decorative-color;
    }
}
.nav__list{
    display: none;
}
.info{
    display: none;
}
.menu-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 100;
    padding: 10px 15px 10px 25px;
    overflow-y: auto;
    gap: 60px;
}

.menu-overlay.active {
    transform: translateX(0);
}
.hamburger-btn{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: transparent;
    border: none;
    padding: 0;
}
.menu__list{
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-top: 0;
    padding: 0;
    margin: 0;
}
.menu__link{
    font-weight: 500;
    font-size: 40px;
    color: $secondary-color;
    &:hover {
        color: $decorative-color;
    }
}
.menu__info{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin: 0;
}
.menu__tel {
    font-weight: 500;
    font-size: 34px;
    color: $decorative-color;
    margin: 0;
    -webkit-text-fill-color: $decorative-color;
}
.menu__email{
    font-weight: 500;
    font-size: 24px;
    color: $text-color;
    margin: 0;
}
.menu__socials-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin-top: 60px;
}
.menu__socials-item{
    position: relative;
    &::after{
        content: "";
        display: inline-block;
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);
        margin-left: 11px;
        position: absolute;
    }
    &:last-child::after{
        content: none;
    }
}
.menu__socials-link {
    font-weight: 500;
    font-size: 18px;
    color: $decorative-color;
}
.menu__btn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    &:hover {
        fill: $decorative-color;
    }
}
.menu__active{
    color: $decorative-color;
}

@media (min-width:768px) {
    .hamburger-btn{
        display: none;
    }
    .nav__list{
        display: flex;
        gap: 55px;
        padding-left: 0;
    }
    .nav__link{
        color: $secondary-color;
        font-weight: 500;
        font-size: 14px;
        position: relative;
        transition-duration: 1.5s;
        &::after{
            content: "";
            width: 100%;
            height: 4px;
            background-color: $decorative-color;
            position: absolute;
            border-radius: 2px;
            display: flex;
            transform: translateY(0);
            transition-duration: 1s;
            opacity: 0;
        }
        &:hover::after{
            transform: translateY(27px);
            z-index: 1;
            opacity: 1;
        }
        &:hover{
            color: $decorative-color;
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        gap: 15px;
        &__svg{
            fill: $text-color;
        }
        &__item{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &__item:hover .info__svg{
            fill: $decorative-color;
        }
        &__item:hover p{
            color: $decorative-color;
        }
        &__email{
            color: $text-color;
            font-weight: 500;
            font-size: 14px;
            margin: 0;
        }
        &__tel{
            color: $text-color;
            font-weight: 500;
            font-size: 14px;
            margin: 0;
            -webkit-text-fill-color: $text-color;
        }
    }
}
@media (min-width: 1024px) {
    .info{
        flex-direction: row;
        gap: 30px;
    }
}