@import "../utils/variables";
@import "../utils/placeholders";
@import "../utils/mixin";

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    &__title{
        color: $primary-color;
        font-weight: 900;
        font-size: 26px;
        max-width: 360px;
        text-align: center;
    }
    &__btn{
        @extend %btn;
        width: 200px;
        height: 50px;
        box-shadow: 0 4px 4px 0 #00000026;
        font-weight: 700;
    }
}



.back-drop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2) ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;  
}
.back-drop:not(.is-hidden) .modal {
    transform: translate(-50%, -50%);
    opacity: 1;
}
.back-drop .modal.show{
    opacity: 1;
    transform: translateY();
}
.is-hidden{
    opacity: 0;
    pointer-events: none
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50vh);
    max-width: 450px;
    width: 95%;
    height: 609px;
    background-color: white;
    transform: translate(-50%, 100%);
    transition: all ease-in-out 0.5s;
    padding: 5px;

    &__close{
        background-color: transparent;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        &:hover{
            fill: $decorative-color;
        }
    }
    &__title{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: $secondary-color;
        font-weight: 700;
        font-size: 20px;
        max-width: 370px;
    }
    &__btn-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__btn{
        @extend %btn ;
        width: 200px;
        height: 50px;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    }
    &__content{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    &__text{
        text-align: center;
        font-size: 14px;
        color: $text-color;
        margin: 0;
    }
    &__text-wrapper{
        color: $decorative-color;
        border-bottom: solid 1px $decorative-color;
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    &__item{
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: relative;
    }
    &__label{
        font-size: 12px;
        font-weight: 400;
        color: $text-color;
    }
    &__input{
        max-width: 370px;
        height: 40px;
        width: 85vw;
        border-radius: 4px;
        border-color: rgba(33, 33, 33, 0.2);
        padding-left: 40px;
    }
    &__input-comment{
        max-width: 370px;
        height: 120px;
        width: 85vw;
        border-radius: 4px;
        border-color: rgba(33, 33, 33, 0.2);     
        font-size: 12px;
        font-weight: 400;
        color: $text-color;
        padding: 16px 13px;
    }
    &__svg{
        position: absolute;
        top: 32px;
        left: 11px;
    }
    &__input:focus{
        outline: 1px solid $decorative-color;
    }
    &__input-comment:focus{
        outline: 1px solid $decorative-color;
    }
    &__item:focus-within svg {
        fill: $decorative-color;
    }
}

.about{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    align-items: baseline;
    justify-content: center;
    margin-top: 60px;
    &__item:nth-child(1)::before{
        content: url(../img/antenna.png);
        display: flex;
        height: 120px;
        background-color: $bg-color;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__item:nth-child(2)::before{
        content: url(../img/clock.png);
        display: flex;   
        height: 120px;
        background-color: $bg-color;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__item:nth-child(3)::before{
        content: url(../img/diagram.png);
        display: flex;  
        height: 120px;
        background-color: $bg-color;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__item:nth-child(4)::before{
        content: url(../img/astronaut.png);
        display: flex;
        height: 120px;
        background-color: $bg-color;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__title{
        color: $secondary-color;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    &__text{
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        display: block;
        max-width: 450px;
    }
}
.activities{
    display: none;
}

.team{
    background-color: $bg-color;
    padding-bottom: 60px;
    padding-top: 66px;
    margin-top: 60px;
    &__img{
        width: 100%;
        height: auto;
        margin-bottom: 33px;
    }
    &__card{
        width: 100%;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    }
    &__title{
        @extend %title;
    }
    &__card-title{
        font-weight: 500;
        font-size: 16px;
        color: $secondary-color; 
        text-align: center;
        margin-top: 0;
    }
    &__card-subtitle{
        @extend %sub-title;
        color: $text-color;
        text-align: center;
        margin-bottom: 35px;
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    &__social-networks{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 24px;
    }
    &__svg-wrapper{
        width: 44px;
        height: 44px;
        border: none;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        &:hover{
            background-color: $decorative-color;
        }
        &:hover .team__svg{
            fill: $primary-color;
        }
        &:hover::after{
            content: "";
            width: 100px;
            height: 20px;
            background: $decorative-color;
            background: linear-gradient(0deg, rgba(33, 150, 243, 0) 0%, rgba(135, 195, 255, 1) 50%, rgba(33, 150, 243, 0) 100%);
            position: absolute;
            animation-name: shine;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            right: 40px;
            
        }
    }
    &__svg{
        fill: $svg-color;
        position: relative;
        z-index: 2;
    }
}
@keyframes shine {
    0% {
        transform: translateX(0) rotate(-40deg);
    }
    100% {
        transform: translateX(100px) rotate(-40deg);
    }
}
.clients{
    &__title{
        @extend %title;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-left: 0px;
        margin-bottom: 94px;
    }
    &__item{
        width: 100%;
        min-height: 92px;
        height: auto;
        border: 1px solid $svg-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            border: 1px solid $decorative-color;
        }
        &:hover .clients__svg{
            fill: $decorative-color;
            transform: scale(1.2);
        }
    }
    &__svg{
            fill: $svg-color;
            transition: 0.5s;
        }
}
@media (max-width: 420px) {
    .modal__content {
        flex-direction: column-reverse;
    }
    .modal__btn-wrapper{
        margin-top: 10px;
    }
}
@media (min-width: 576px) {
    .clients__list{
        display: grid;
        grid-template-columns: 210px 210px;
    }
    .clients__item{
        width: 100%;
    }
    .about{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        &__item::before{
            width: 100%;
        }
        &__text{
            max-width: 354px;
        }
    }
    .team{
        &__cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .clients{
        &__list{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (min-width:768px) {
    .hero{
        height: 400px;
        background-position: 50% 40%;
    }
    .clients__list{
        gap: 30px;
    }
}
@media (min-width:1024px) {
    .hero{
        height: 600px;
        background-position: 50% 40%;
    }
    .modal {
        min-width: 528px;
        min-height: 581px;
        &__title{
            max-width: none;
        }
        &__content{
            margin-top: 25px;
        }
    }
    .form {
        &__input {
            min-width: 448px;
        }
        &__input-comment{
            min-width: 448px;
        }
    }
    .content{
        margin-top: 25px;
    }
    .about{
        align-items: baseline;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        &__item{
            
            width: 100%;
            height: auto;
        }
        &__item::before{
            width: 100%;
        }
        &__text{
            max-width: 270px;
            text-align: start;
        }
        &__title{
            text-align: start;
        }
    }
    .activities{
       display: block;
       margin-top: 100px;
       &__title{
            font-weight: 700;
            font-size: 36px;
            text-align: center;
            margin-top: 0;
       }
       &__list{
            display: flex;
            gap: 30px;
            justify-content: center;
            padding-left: 0;
       }
       &__img{
            width: 100%;
            height: auto;
       }
       &__item{
            position: relative;

 
       }
       &__text{
            position: absolute;
            background-color: rgba(47, 48, 58, 0.8);
            width: 100%;
            text-align: center;
            padding: 30px;
            margin-top: 0;
            bottom: -10px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            color: $primary-color;
       }
    }
    .team{
        &__cards{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .clients{
        &__list{
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

@media (min-width:1200px){
    .about{
        grid-template-columns: repeat(4, 270px);
    }
    .team__cards{
        grid-template-columns: repeat(4, 270px);
    }
}